In [ ]:
!pip install azure-cognitiveservices-anomalydetector

In [13]:
from azure.cognitiveservices.anomalydetector import AnomalyDetectorClient
from azure.cognitiveservices.anomalydetector.models import Request, Point, Granularity
from msrest.authentication import CognitiveServicesCredentials
import pandas as pd
import json
import pytz

config = json.load(open("config.json"))

key = config["key"]
endpoint = config["endpoint"]

In [9]:
client = AnomalyDetectorClient(endpoint, CognitiveServicesCredentials(key))

In [34]:
df = pd.read_csv("energy_hourly.csv", delimiter=',', parse_dates=["Datetime"])
df.head()

             Datetime  Energy
0 2011-12-31 01:00:00  9970.0
1 2011-12-31 02:00:00  9428.0
2 2011-12-31 03:00:00  9059.0
3 2011-12-31 04:00:00  8817.0
4 2011-12-31 05:00:00  8743.0

In [35]:
df = df.sort_values(by=["Datetime"])
df.head()

                Datetime  Energy
8734 2011-01-01 01:00:00  9631.0
8735 2011-01-01 02:00:00  9273.0
8736 2011-01-01 03:00:00  9011.0
8737 2011-01-01 04:00:00  8741.0
8738 2011-01-01 05:00:00  8694.0

In [36]:
df["Datetime"] = df["Datetime"].dt.tz_localize(pytz.utc)
df.head()

                      Datetime  Energy
8734 2011-01-01 01:00:00+00:00  9631.0
8735 2011-01-01 02:00:00+00:00  9273.0
8736 2011-01-01 03:00:00+00:00  9011.0
8737 2011-01-01 04:00:00+00:00  8741.0
8738 2011-01-01 05:00:00+00:00  8694.0

In [20]:
series = []
for index, row in df.iterrows():
    series.append(Point(timestamp=row[0], value=row[1]))

In [24]:
request = Request(series=series[0:3000], granularity=Granularity.hourly)

In [25]:
response = client.entire_detect(request)

In [26]:
True in response.is_anomaly

True

In [ ]:
response.is_anomaly

In [32]:
for i in range(len(response.is_anomaly)):
    if response.is_anomaly[i]:
        print(i, df.iloc[i]["Energy"], df.iloc[i]["Datetime"])

0 9631.0 2011-01-01 01:00:00+00:00
3 8741.0 2011-01-01 04:00:00+00:00
4 8694.0 2011-01-01 05:00:00+00:00
5 8711.0 2011-01-01 06:00:00+00:00
6 8943.0 2011-01-01 07:00:00+00:00
7 9222.0 2011-01-01 08:00:00+00:00
8 9430.0 2011-01-01 09:00:00+00:00
9 9670.0 2011-01-01 10:00:00+00:00
10 10125.0 2011-01-01 11:00:00+00:00
774 10475.0 2011-02-02 07:00:00+00:00
775 11086.0 2011-02-02 08:00:00+00:00
776 11147.0 2011-02-02 09:00:00+00:00
777 11352.0 2011-02-02 10:00:00+00:00
778 11439.0 2011-02-02 11:00:00+00:00
779 11394.0 2011-02-02 12:00:00+00:00
780 11318.0 2011-02-02 13:00:00+00:00
781 11176.0 2011-02-02 14:00:00+00:00
782 11045.0 2011-02-02 15:00:00+00:00
783 10999.0 2011-02-02 16:00:00+00:00
784 11179.0 2011-02-02 17:00:00+00:00
785 11605.0 2011-02-02 18:00:00+00:00